 /*@import "prism.css";  */
 @import "font-awesome.css";
   
 html,
  body {
    height: 100%;
    margin: 0px;
    background-image: url(bg.png);
    font-size: 15px;
  }

@media (min-width: 1080px) {  
  .MainContainer {
    background-color: #f7f5f0;
    margin-left: 10%;
    margin-right: 10%;
    min-height: 100vh;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
  }
  }

/* Mobile View */
@media (max-width: 1080px) {  
    .MainContainer {
      background-color: #f7f5f0;
      margin-left: 0%;
      margin-right: 0%;
      min-height: 100vh;
      min-width: 100%;
      box-sizing: border-box;
      display: flex;
      flex-direction: column;
    }
  }

  .Header {
    flex-basis: 40px;
    background-color: #ede1d3;
    display: flex;
    flex-direction: row;
    border: 1px solid black;
  }

  .HeaderMenu
  {
    display: flex;
    flex-direction: row;
    flex-grow: 1;
    flex-shrink: 1;
  }

  .HeaderMenuItem {
    border: 1px black solid;
    text-align: center;
    padding: 10px;
    border: 1px black solid;
    flex-basis: 10%;
    box-sizing: border-box;
  }

  .HeaderLoginBlock {
    align-self: center;
    padding: 10px;
    text-align: center;
    flex-basis: 100px;
    border: 1px black solid;
  }

  .HeaderBlock:hover
  {
    background-color: #e2d0ba;
  }

  .Middle 
  {
    display: flex;
    flex-direction: row;
    flex-grow: 1;
    min-width: 100%;
  }

  .MiddleBody
  {
    display: flex;
    flex-direction: row;
    flex-grow: 1;
  }

/* Home Page Content */
.LeftContainer
{
  /*background-color: #e1f5f0;*/
  flex-direction: column;
  flex-grow: 0.9;
  display: flex;
}

.RightMenu
{
  /*background-color: #a1f5d0;*/
  flex-direction: column;
  flex-grow: 0.1;
  display: flex;
}

.RightMenuHeader
{
  padding: 5px;
}

.RightMenuHeaderItems
{
  display: flex;
  flex-direction: column;
}

.RightMenuHeaderSingleItem
{
  padding: 5px;
}

.RightMenuHeaderSingleItem:hover
{
  padding: 5px;
  background-color: #F0E9E6;
}

.LeftContainerTop
{
  border: 1px solid green;
  flex-grow: 0.4;
  display: flex;
  align-items: center;
  justify-content: center;

}

.LeftContainerButtom
{
  flex-grow: 0.6;
  border: 1px solid green;
}


/* Home Page Content ^^^^ */
a 
{
  color: inherit;
  text-decoration:none;
}

.footer 
{
  align-self: center;
  background-color: #eae3e3;
}


li {
  list-style-type : none;
}

code 
{
  margin-bottom: 10px;
}

.tips
{
  background-color: #ddb8bb;
  border: 1px black solid;
}

.language-d
{
  background-color: #101928;
  color: #f9f9f9;
  display:block;
  white-space: pre-wrap;
  font-family: Courier, Inconsolata, Consolas;
  padding-left: 5px;
  padding-right: 5px;
  padding-bottom: 5px;
}

h1, h2, h3, h4, h5
{
  margin: 0px;
}

br 
{
  line-height:110%;
}

p 
{
  padding-left: 10px;
}

.bookcontent
{
  padding-left: 2px;
  padding-right: 2px;
}

dt
{
  background-color: #eae5db;
  padding-left: 5px;
}

dd
{
  margin-left: 5px;
  margin-right: 10px;
  text-indent: 15px;
}

details img
{
  display: block;
  margin-left: auto;
  margin-right: auto 
}


.SliderInContainerOnMainPage
{
  border: 1px dashed black;
  /*flex-grow: 1;
  height: 90px;*/
  margin-top: 10px;
  padding-bottom: 10px;
}

.LeftContainerBottom
{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.DownloadToolsOnMainPage
{
  display: flex;
  flex-direction: column;
  border: 1px dashed black;
}

.DownloadToolsOnMainPageCompilers
{
  display: flex;
  flex-direction: row;
  border: 1px dashed black;
}

.DownloadItemCompiler
{
  display: flex;
  flex-direction: column;
  height: 100px;
  width: 100px;
}

.DownloadToolsOnMainPageIDE
{
  display: flex;
  flex-direction: row;
/*  width: 70px;
  height: 70px;*/
  border: 1px dashed black;
  justify-content: space-around;

}

.ToolsScreenshots
{
  border: 1px dashed red;
}