/* @import "prism.css";  */
   
   html,
    body {
      height: 100%;
      margin: 0px;
      background-image: url(bg.png);
      font-size: 14px;
    }

  @media (min-width: 1080px) {  
    .MainContainer {
      background-color: #f7f5f0;
      margin-left: 10%;
      margin-right: 10%;
      min-height: 100vh;
      box-sizing: border-box;
      display: flex;
      flex-direction: column;
    }
  }

@media (max-width: 1080px) {  
    .MainContainer {
      background-color: #f7f5f0;
      margin-left: 0%;
      margin-right: 0%;
      min-height: 100vh;
      box-sizing: border-box;
      display: flex;
      flex-direction: column;
    }
  }

    .Header {
      flex-basis: 40px;
      background-color: #ede1d3;
      display: flex;
      flex-direction: row;
      border: 1px solid black;
    }

    .HeaderMenu
    {
      display: flex;
      flex-direction: row;
      flex-grow: 1;
      flex-shrink: 1;
    }

    .HeaderBlock {
      border: 1px black solid;
      text-align: center;
      padding: 10px;
      border: 1px black solid;
      flex-basis: 10%;
    }

    .HeaderLoginBlock {
      align-self: center;
      padding: 10px;
      text-align: center;
      flex-basis: 100px;
      border: 1px black solid;
    }

    .HeaderBlock:hover
    {
      background-color: #e2d0ba;
    }

    .Middle 
    {
      display: flex;
      flex-direction: row;
      flex-grow: 1;
    }

    .MiddleBody
    {
      display: flex;
      flex-direction: row;
      flex-grow: 1;
    }



    .CentralPart
    {
      flex-grow: 1;
    }


    .SomeOtherBlock
    {
      background-color: #bb8485;
      border: 1px black solid;
      margin-top: 10px;
      margin-left: 10px;
      margin-right: 10px;
      height: auto;
      display: flex;
      flex-direction: column;
      align-items: center;

      height: 100px;
      width: auto;
    }

    .LeftSide 
    {
      background-color: #ddd0d1;
      display: flex;
      flex-direction: column;
      flex-grow: 1;
    }

    .LeftSideContent
    {
      display: flex;
      flex-direction: column;
      flex-grow: 1;
      padding: auto 5px;
      padding-left: 5px;
    }

    .RandomQuoteBlock
    {
      display: flex;
      flex-direction: row;
      /*background-color: #ddb8bb;*/
      background-color: #d1abac;
      height: 70px;
      margin: 10px;
    }

    .SingleContainer
    {
      margin-left: 1px;
      margin-right: 1px;
      background-color: #e9e0e0;
    }
    .SingleContainer:hover
    {
      background-color: #e8dfdf;
    }

    .SingleNewsBody
    {
      border: 1px #d6cdb6 solid;
      background-color: #ede7e7;
    }

    .SingleNewsBody:hover
    {
      background-color: #eae3e3;
    }

    a 
    {
      display: block;
      color: inherit;
      text-decoration:none;
    }

    .footer 
    {
      align-self: center;
      background-color: #eae3e3;
    }


  li {
    list-style-type : none;
  }

  code 
  {
    margin-bottom: 10px;  
  }

  .tips
  {
    background-color: #ddb8bb;
    border: 1px black solid;
  }

  .language-d
  {
    background-color: #101928;
    color: #f9f9f9;
    display:block;
    white-space: pre-wrap;
    font-family: Courier, Inconsolata, Consolas;
    padding-left: 5px;
    padding-right: 5px;
    padding-bottom: 5px;
  }

  h1, h2, h3, h4, h5
  {
/*    padding-top: 0px;
    padding-bottom: 0px;*/
    margin: 0;
  }

    br {
        line-height:120%;
     }

     p {
        padding-left: 10px;
     }

  .bookContent
  {
    padding-left: 10px;
    padding-right: 10px;
  }
